[submodule "third_party/lpe-u"]
	path = third_party/lpe-u
	url = git@gitlab.dr-bertling.de:livepresets/lpe-u.git
[submodule "third_party/WDL"]
	path = third_party/WDL
	url = git@github.com:justinfrankel/WDL.git
