#include "resources/resource.h"

#ifdef _WIN32
    #include "winres.h"
#endif

IDD_LIVEPRESETS DIALOGEX 0, 0, 528, 200
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
FONT 8, "MS Shell Dlg"
BEGIN
        CONTROL         "",IDC_LIST,"SysListView32",LVS_REPORT | LVS_SHOWSELALWAYS | WS_BORDER,8,8,512,160
        PUSHBUTTON      "Add",IDC_ADD,8,176,72,16
        PUSHBUTTON      "Update",IDC_UPDATE,88,176,72,16
        PUSHBUTTON      "Edit",IDC_EDIT,168,176,72,16
        PUSHBUTTON      "Remove",IDC_REMOVE,248,176,72,16
        PUSHBUTTON      "Settings", IDC_SETTINGS,448,176,72,16
END

IDD_LIVEPRESET DIALOGEX 0, 0, 310, 92
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
FONT 8, "MS Shell Dlg"
BEGIN
        LTEXT           "Name:",IDC_STATIC,8,10,40,8
        LTEXT           "Description:",IDC_STATIC,8,30,40,8
        LTEXT           "Recall Id:",IDC_STATIC,8,50,40,8
        EDITTEXT        IDC_NAME,56,8,128,12,ES_AUTOHSCROLL
        EDITTEXT        IDC_DESC,56,28,128,12,ES_AUTOHSCROLL
        EDITTEXT        IDC_ID,56,48,128,12,ES_AUTOHSCROLL | ES_NUMBER
        PUSHBUTTON      "Cancel",IDC_CANCEL,8,68,72,16
        PUSHBUTTON      "OK",IDC_SAVE,88,68,72,16
        LTEXT           "Filter:",IDC_LABEL1,192,10,20,8
        COMBOBOX        IDC_COMBO,220,8,68,16,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
        PUSHBUTTON      "+",IDC_SETTINGS,292,8,10,10
        CONTROL         "",IDC_TREE,"SysTreeView32",TVS_HASBUTTONS | TVS_DISABLEDRAGDROP | TVS_TRACKSELECT | TVS_LINESATROOT | WS_BORDER,192,24,110,60
END

IDD_SETTINGS DIALOGEX 0, 0, 288, 234
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
        FONT 8, "MS Shell Dlg"
BEGIN
        PUSHBUTTON      "Bind recall action",IDC_RECALL,8,10,72,16
        PUSHBUTTON      "Bind toggle track visibility action",IDC_TOGGLETRACKVISIBILITY,8,40,144,16
        CONTROL         "Create Undo points when recalling presets",IDC_UNDO,"Button",BS_AUTOCHECKBOX,8,70,272,8
        CONTROL         "Recall plugin presets when they are already active",IDC_RECALL_ACTIVE_PLUGINPRESETS,"Button",BS_AUTOCHECKBOX,8,90,272,8
        CONTROL         "Recall plugin presets of muted plugins",IDC_RECALL_MUTED_PLUGINS,"Button",BS_AUTOCHECKBOX,8,110,272,8
        CONTROL         "Recall active presets by action",IDC_RECALL_ACTIVE_PRESETS,"Button",BS_AUTOCHECKBOX,8,130,272,8
        CONTROL         "Hide muted tracks",IDC_HIDE_MUTED_TRACKS,"Button",BS_AUTOCHECKBOX,8,150,272,8
        LTEXT           "Default Filter:",IDC_LABEL1,8,170,48,8
        COMBOBOX        IDC_COMBO,56,168,92,16,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
        PUSHBUTTON      "Update all presets",IDC_UPDATE,8,190,72,16
        PUSHBUTTON      "OK",IDC_SAVE,8,210,72,16
END

IDD_CONFIRM DIALOGEX 0, 0, 168, 52
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
        FONT 8, "MS Shell Dlg"
BEGIN
        LTEXT           "Name:",IDC_STATIC,8,10,40,8
        EDITTEXT        IDC_NAME,32,8,128,12,ES_AUTOHSCROLL
        PUSHBUTTON      "Cancel",IDC_CANCEL,8,28,72,16
        PUSHBUTTON      "OK",IDC_SAVE,88,28,72,16
END

IDD_CONTROLVIEW DIALOGEX 0, 0, 616, 380
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
        FONT 8, "MS Shell Dlg"
BEGIN
        PUSHBUTTON      "Add Hardware",IDC_ADD,8,8,72,16
PUSHBUTTON      "Remove Hardware",IDC_REMOVE,88,8,72,16
PUSHBUTTON      "Add Control",IDC_ADD2,456,8,72,16
PUSHBUTTON      "Remove Control",IDC_REMOVE2,536,8,72,16
CONTROL         "TabControl", IDC_TAB,"SysTabControl32",WS_TABSTOP,8,72,600,300
END

IDD_ABOUT DIALOGEX 0, 0, 600, 300
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
        FONT 8, "MS Shell Dlg"
BEGIN

END