#include "resources/resource.h"

#ifdef _WIN32
    #include "winres.h"
#endif

IDD_LIVEPRESETS DIALOGEX 0, 0, 528, 200
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
FONT DEFAULT_FONT
BEGIN
        CONTROL         "",IDC_LIST,"SysListView32",LVS_REPORT | LVS_SHOWSELALWAYS | WS_BORDER,8,8,512,160
        PUSHBUTTON      "Add",IDC_ADD,8,176,72,16
        PUSHBUTTON      "Update",IDC_UPDATE,88,176,72,16
        PUSHBUTTON      "Edit",IDC_EDIT,168,176,72,16
        PUSHBUTTON      "Remove",IDC_REMOVE,248,176,72,16
        PUSHBUTTON      "Settings", IDC_SETTINGS,448,176,72,16
END

IDD_LIVEPRESET DIALOGEX 0, 0, 310, 92
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
FONT DEFAULT_FONT
BEGIN
        LTEXT           "Name:",IDC_STATIC,8,10,40,8
        LTEXT           "Description:",IDC_STATIC,8,30,40,8
        LTEXT           "Recall Id:",IDC_STATIC,8,50,40,8
        EDITTEXT        IDC_NAME,56,8,128,12,ES_AUTOHSCROLL
        EDITTEXT        IDC_DESC,56,28,128,12,ES_AUTOHSCROLL
        EDITTEXT        IDC_ID,56,48,128,12,ES_AUTOHSCROLL | ES_NUMBER
        PUSHBUTTON      "Set Recall Hotkey",IDC_RECALL,56,68,128,12
        PUSHBUTTON      "Cancel",IDC_CANCEL,8,68,72,16
        PUSHBUTTON      "OK",IDC_SAVE,88,68,72,16
        LTEXT           "Filter:",IDC_LABEL1,192,10,20,8
        COMBOBOX        IDC_COMBO,220,8,68,16,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
        PUSHBUTTON      "+",IDC_SETTINGS,292,8,10,10
        CONTROL         "",IDC_TREE,"SysTreeView32",TVS_HASBUTTONS | TVS_DISABLEDRAGDROP | TVS_TRACKSELECT | TVS_LINESATROOT | WS_BORDER,192,24,110,60
END

IDD_SETTINGS DIALOGEX 0, 0, 200, 278
STYLE DS_MODALFRAME | DS_SHELLFONT | WS_POPUP | WS_SYSMENU | WS_CAPTION
FONT DEFAULT_FONT
BEGIN
        PUSHBUTTON      "Bind recall action",IDC_RECALL,8,8,184,16
        PUSHBUTTON      "Bind toggle track visibility action",IDC_TOGGLETRACKVISIBILITY,8,32,184,16
        PUSHBUTTON      "Update all presets",IDC_UPDATE,8,56,184,16
        LTEXT           "Default filter:",IDC_LABEL1,8,80,48,8
        COMBOBOX        IDC_COMBO,56,79,136,16,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
        PUSHBUTTON      "Remove default filter",IDC_REMOVE,8,97,184,16
        CONTROL         "Create Undo points when recalling presets",IDC_UNDO,"Button",BS_AUTOCHECKBOX,8,124,184,8
        CONTROL         "Recall plugin presets when they are already active",IDC_RECALL_ACTIVE_PLUGINPRESETS,"Button",BS_AUTOCHECKBOX,8,140,184,8
        CONTROL         "Recall plugin presets of muted plugins",IDC_RECALL_MUTED_PLUGINS,"Button",BS_AUTOCHECKBOX,8,156,184,8
        CONTROL         "Recall active presets by action",IDC_RECALL_ACTIVE_PRESETS,"Button",BS_AUTOCHECKBOX,8,172,184,8
        CONTROL         "Hide muted tracks",IDC_HIDE_MUTED_TRACKS,"Button",BS_AUTOCHECKBOX,8,188,184,8
        PUSHBUTTON      "OK",IDC_SAVE,8,254,72,16
END

IDD_CONFIRM DIALOGEX 0, 0, 168, 52
STYLE DS_MODALFRAME | DS_SHELLFONT | WS_POPUP | WS_SYSMENU | WS_CAPTION
FONT DEFAULT_FONT
BEGIN
        LTEXT           "Name:",IDC_STATIC,8,10,40,8
        EDITTEXT        IDC_NAME,32,8,128,12,ES_AUTOHSCROLL
        PUSHBUTTON      "Cancel",IDC_CANCEL,8,28,72,16
        PUSHBUTTON      "OK",IDC_SAVE,88,28,72,16
END

IDD_CONTROLVIEW DIALOGEX 0, 0, 616, 380
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
FONT DEFAULT_FONT
BEGIN
        PUSHBUTTON      "Add Hardware",IDC_ADD,8,8,72,16
        PUSHBUTTON      "Remove Hardware",IDC_REMOVE,88,8,72,16
        PUSHBUTTON      "Add Control",IDC_ADD2,456,8,72,16
        PUSHBUTTON      "Remove Control",IDC_REMOVE2,536,8,72,16
        CONTROL         "TabControl", IDC_TAB,"SysTabControl32",WS_TABSTOP,8,72,600,300
END

IDD_ABOUT DIALOGEX 0, 0, 500, 250
STYLE DS_MODALFRAME | DS_SHELLFONT | WS_POPUP | WS_SYSMENU | WS_CAPTION
FONT DEFAULT_FONT
BEGIN

END